
.wrapper {
  max-width: 800px;
  margin: 7em auto 4em;
  flex: 1 0 auto;
}

.footer {
  bottom: 0;
  margin: 5em 0 0;
  padding: 5em 0;
}

.main-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.menu-wrapper {
  max-width: 800px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.text {
  white-space: pre-line;
}
